/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
    --bg-color: #000000;
    --text-color: #c9d1d9;
    --accent-color: rgb(239, 93, 105);
    --header-bg: #000000bb;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Anta', serif;
    font-size: medium;
    margin: 1;
    line-height: 1.6;
}

header {
    background-color: var(--header-bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.logo {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    margin-bottom: 1.7rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero p {
    color: #8b949e;
}

.latest-posts h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.post {
    margin-bottom: 1.2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #30363d;
}

.post h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.post time {
    color: #8b949e;
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0.5rem;
}

.read-more {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-top: 1rem;
    transition: all 0.1s ease;
}

.read-more:hover {
    background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
}
